Here Are The List Of Books Fetched From The Server
<ul>
  {{#each model as |book|}}
      <li>{{#link-to 'books.book' book}}{{{book.title}}}{{/link-to}}</li>
      <li>
          <button {{action 'go2New' book target="controllers.books/new"}}>Clone from This Record</button>
      </li>
  {{/each}}
</ul>
<br>
<button {{action 'go2New' null target="controllers.books/new"}}>Empty New</button>
